<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991265443193-k0tjpfvafm95asv4jk6jvid1psgqesel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991265443193-k0tjpfvafm95asv4jk6jvid1psgqesel</string>
	<key>API_KEY</key>
	<string>AIzaSyCPFOmHnRCNVJkBrb0nsIrarGmAJw_vEGo</string>
	<key>GCM_SENDER_ID</key>
	<string>991265443193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rkhdeveloper.HealthTracker</string>
	<key>PROJECT_ID</key>
	<string>healthtrackerswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>healthtrackerswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991265443193:ios:5e2423623299b2505373a8</string>
	<key>DATABASE_URL</key>
	<string>https://healthtrackerswiftui.firebaseio.com</string>
</dict>
</plist>